/* Meeran Haq, 8711306 */

body {
    display: flex;
    flex-direction: column;
    font: 20px Arial, sans-serif;
    background-color: #4B444B;
    text-shadow: 2px 2px 2px #7c7c7c;
}

main {
    flex:2 1 70%;
}

.container {
    display: flex;
    flex-direction: row;
    flex: 4 10%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

aside {
    flex: 1 2 30%;
    margin: 30px;
    align-items: stretch;
    padding: 5px; 
    color:  rgb(148, 148, 148);
    border: 5px solid black;
    border-radius: 5px;
    background:  #4B444B url(https://cdn1.vectorstock.com/i/1000x1000/92/80/lightning-seamless-pattern-on-a-black-background-vector-4499280.jpg) center center / cover no-repeat;
}

@media screen and (max-width: 600px) {
    aside {
        background-image: url(https://cdn1.vectorstock.com/i/1000x1000/92/80/lightning-seamless-pattern-on-a-black-background-vector-4499280.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 600px;
        border-bottom: 2rem solid hsl(20deg, 50%, 70%);
        justify-content: flex-start;
        align-items: flex-end;
    }
    aside h2 {
        font-size: 4rem;
    }
    img {
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    aside {
        background-image: url(https://i.redd.it/16ysbc3pv7z61.jpg);
        background-size: cover;
        min-height: 500px;
        border-bottom: 2rem solid hsl(20deg, 50%, 70%);
        justify-content: flex-end;
        align-items: flex-end;
    }
    aside h2 {
        font-size: 5rem;
    }
    img {
        width: 90%;
    }
}

.class1 {
    background-color: hsl(302, 12%, 60%);
    align-items: stretch;
    text-align: center; 
    border: 5px solid rgb(192, 188, 188);
    padding:5px;
    margin: 0.5rem;
    border-radius: 15px;
}

aside h2 {
    border: none;
    background-color:transparent;
}

aside li {
    display: inline-block;
    list-style: none;
    line-height:1.25em;
    width: 50%;
}

aside ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    text-align: center; 
    margin-bottom: 3rem;
}

aside ul li {
    border: 5px solid rgb(192, 188, 188);
    background-color: #4B444B;
    padding:0;
    margin: 10px;
    border-radius: 10px;
}

aside ul a {
    text-decoration: none;
    color:rgb(236, 204, 101);
    display: block;
}

aside ul li:hover {
    color:  rgb(255, 255, 255); 
    background-color:cornsilk;
}

aside>ul>li {
    display: inline-block; 
    padding:5px;
    position: relative; 
}

nav{ 
    margin: 10px; 
    background-color: #4B444B;
    color:  rgb(255, 255, 255);
    border: 5px solid rgb(192, 188, 188);
    border-radius:30px; 
    padding: 20px 0; 
    text-align: center; 
}

nav a{  
    font-size: 1.5em; 
    font-weight: bold; 
    text-decoration: none; 
    padding: 0 30px; 
}

nav ul{ 
    width: 100%;
    list-style-type: none; 
    margin: 0;
    padding: 0;
}


nav ul li{ 
    display: inline-block; 
    padding:5px;
    position: relative; 
}

nav ul a {
    color:  rgb(255, 255, 255);
    background-color: hsl(300, 6%, 50%);
    padding:5px;
    margin:auto;
    border-radius: 15px;
}

nav ul li ul { 
    display: none; 
}
nav ul li:hover ul{
    display: block; 
}

nav ul li ul { 
	width: 150%; 
	position: absolute;
	z-index: 999; 
	text-align: left; 
    background-color: hsl(302, 12%, 60%);
    border-radius: 15px;
    box-shadow: cornsilk;
}

nav ul li ul li a{ 
    color: white; 
    padding: 10px; 
    display: block; 
}

nav ul li ul li:hover a:hover{
    color:  rgb(255, 255, 255);
    background-color:cornsilk;
    padding:5px;
}

h1, h2 {
    color:  rgb(255, 255, 255);
    font-variant: small-caps;
}

h2 {
    background-color: #4B444B;
    text-align: center;
    color:  rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
    padding: .5em;
}

figure p {
    line-height: 2rem;
}

#galleryid {
    border: 5px solid rgb(192, 188, 188);
    border-radius:25px; 
}

#quotes {
    padding-top: .5em;
}

footer p {
    color:  rgb(255, 255, 255);
    font-size: small;
}

.gallerygrid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 325px 325px 325px;
}

.mainimg {
    border: 5px solid rgb(52, 155, 187);
    width: 250px;
    height: 250px;
}

.mainimg1 {
    float: left ;
    text-align:justify; 
    shape-margin: 1.5em;
    -webkit-shape-outside:circle(50%);
    shape-outside:circle(55%);
    border: 10px solid rgb(52, 155, 187);
    width: 250px;
    height: 250px;
}

figcaption {
    font-weight: bold;
    font-variant: small-caps;
    text-align: left;
}

section {
    background-color: hsl(300, 8%, 34%);
    text-align: center;
    color:  rgb(255, 255, 255);
    margin: 25px;
    padding: 1em;
    border: 2px solid black;
}

table, td {
    background-color: hsl(300, 8%, 34%);
    text-align: center;
    color:  rgb(255, 255, 255);
    border-radius: 5px;
    margin: auto;
    padding: 1em;
    border: 2px solid black;
}

th {
    background-color: hsl(300, 8%, 34%);
    box-shadow: cornsilk;
    margin: auto;
    padding: 1em;
    border: 2px solid black;
}

q {
    font-family:cursive;
    font-style: italic;
    font-size: larger;
}

a:hover {
    color: rgb(255, 230, 0);
}

form {
    text-align: left;
}

input, text {
    width: 50% ;
    display: block;
    height: 2em;
    padding : 5px;
    margin : 5px;
}

textarea {
    width : 50%;
    display : block;
    padding : 5px;
    margin : 5px;
}

input[type="radio"], input[type=checkbox]{
    display: inline;
    height: 2em;    
    width : 2em;
    padding : 5px;
    margin : 5px;
}

input[type="email"], input[type="submit"] {
    width: 50% ;
    display: block;
    height: 2em;
    padding: 5px;
    margin: 5px;
}

fieldset {
    border: none;
    padding : 5px;
    margin : 5px;
}